<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">
          Success case
        </h3>

        <p class="subheader2">
          Path to digital success is not a one shot game but
          rather a loop of bad and good experiments. That
          requires strategical and methodological mindset,
          aim for scalability and profitability as well as
          A-class execution.
        </p>

        <a class="leanlink" href="#">Learn more</a>

      </div>

      <div class="six wide right floated column">
        <img src="assets/images/Case.jpg" class="ui image">
      </div>
    </div>
  </div>
</div>
