<div class="ui vertical stripe segment">
  <div class="ui stackable grid container">
    
    <div class="row">
      <div class="center aligned column">
        <h2 class="ui header">
          Products
        </h2>
      </div>
    </div>

    <div class="row">

      <div class="left floated three wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="assets/images/3Products.jpg">
          </div>
          <div class="content">
            <span class="header">Full-stack consultancy</span>
          </div>
        </div>
      </div>

      <div class="three wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="assets/images/2Products.jpg">
          </div>
          <div class="content">
            <span class="header">Market analysis</span>
          </div>
        </div>
      </div>

      <div class="right floated three wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="assets/images/1products.jpg">
          </div>
          <div class="content">
            <span class="header">Design</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
